{% extends 'store/base.html' %}
{% load static %}
{% block title %}Mentions Legal{% endblock %}
{% block header_title %}Mentions Legal{% endblock %}
{% block header_content %}
    <Div class="row justify-content-center text-white">
        <h3 class="text-shadow font-weight-light mb-5">Ce site est un projet éducatif à caractère non commercial !</h3>
    </Div>
    <Div class="row justify-content-center text-white">
        <h2 class="text-shadow text-petit-beurre mb-5"><u>Ressources</u></h2>
    </Div>
    <Div class="row justify-content-center text-white">
        <h3 class="text-shadow font-weight-light mb-5">Les images des personnages <strong>'Remy'</strong> et <strong>'Colette'</strong>
            sont de la propiété intellectuelle de <a target="_blank" href="">Disney / Pixar Animation Studios</a>, <br>
            il convient donc de vérifier les droits d'auteurs en cas d'utilisation commerciale.</h3>
    </Div>
    <Div class="row justify-content-center text-white">
        <h3 class="text-shadow font-weight-light mb-5">L'icone de la carotte est une réalisation de <strong><u>Fabien Jouin</u></strong> sous licence
            <strong class="fa fa-creative-commons"> Creative Commons</strong>, vous la trouverez <a target="_blank" href="https://thenounproject.com/term/carrot/29691/">Ici</a></h3>
    </Div>
    <Div class="row justify-content-center text-white">
        <h3 class="text-shadow font-weight-light mb-5">Les autres icones sont de <a target="_blank" href="https://fontawesome.com/v4.7.0/icons/">Font Awesome</a>, <br>
            elles sont Opensource et sous licence GPL. Pour plus d'information voir <a target="_blank" href="https://fontawesome.com/v4.7.0/license/">Ici</a></h3>
    </Div>

    <Div class="row justify-content-center text-white">
        <h3 class="text-shadow font-weight-light mb-5">Le logo à été retravaillé avec <a target="_blank" href="https://www.gimp.org/downloads/">Gimp</a>
            sur la base d'image du célèbre petit beurre <a target="_blank" href="https://www.lu.fr/">LU</a> trouvé sur <strong>Google image</strong></h3>
    </Div>
    <Div class="row justify-content-center text-white">
        <h3 class="text-shadow font-weight-light mb-5">Le template du site est de boostrap, sous <strong class="fa fa-balance-scale"> MIT Licence.</strong> Vous pouvez le télécharger gratuitement
        <a target="_blank" href="https://startbootstrap.com/themes/creative/">Ici</a></h3>
    </Div>
    <Div class="row justify-content-center text-white">
        <h3 class="text-shadow font-weight-light mb-5">L'image de fond est de <strong><u>Olenka Kotyk</u></strong>, elle est téléchargeable gratuitement
            <a target="_blank" href="https://unsplash.com/photos/eqsEZNCm4-c">Ici</a></h3>
    </Div>
    <Div class="row justify-content-center text-white">
        <h2 class="text-shadow text-petit-beurre mb-5"><u>Contact</u></h2>
    </Div>
    <Div class="row justify-content-center text-white">
        <h2 class="text-shadow font-weight-light mb-5">Vous pouvez me contacter par email en utilisant le lien "contact" en pied de page</h2>
    </Div>

{% endblock %}
