{% extends 'store/base.html' %}
{% load static %}
{% block title %}Connection{% endblock %}

{% block header_title %}Connection{% endblock %}
{% block header_content %}
    <style type="text/css">
        header.masthead{
            padding-bottom: 0;
            min-height: 94vh;
        }
    </style>
    <div class="col-md-4 offset-md-4 align-center text-left text-white">
        <form action="{% url 'accounts:login' %}" method="post">
        {% if messages %}
            {% for message in messages %}
            <p class="message rounded alert alert-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{ login_form.as_p }}
        <br>
    	<input type="submit" value="Se connecter"/><br><br>
    	<span>Je n'ai pas de compte, je <a href= "{%  url 'accounts:register' %}">m'enregistre</a> !</span>
        </form>
    </div>
{% endblock %}
