{% extends 'store/base.html' %}
{% load static %}
{% block title %}Mon compte{% endblock %}
{% block header_title %}
    <span class="small text-white">Bonjour
        {% if user.is_authenticated %}
            {% if user.username != "" %}
                {{ user.username }}
            {% else %}
                {{ user.formated_email }}
            {% endif %}
        {% endif %}
    </span>
{% endblock %}

{% block header_content %}
    <div id="message">
        {% if messages %}
            {% for message in messages %}
                <p class="message offset-3 col-6 rounded alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div><span class="text-obergine">Edition du profile : </span><span id="edition"><input  class="text-white" type="checkbox" id="edit-toggle"></span></div>
    <div id="account" class="col-sm-6 offset-sm-3 align-center text-left text-white ">
        <form action="{#% url 'accounts:register' %#}" method="POST">
        {% csrf_token %}
        <p class="form-group">
            {% for field in account_form %}
                <p class="rounded">{{ field.label_tag }}{{ field }}</p>
                {% if field.errors %}
                    <span class="rounded alert alert-danger">{{ field.errors }}</span>
                {% endif %}
            {% endfor %}
        </p>
        <br>
    	<input id="save-btn" class="d-none" type="submit" value="Enregistrer"/><br><br>
        </form>
    </div>
{% endblock %}
{% block content %}
{% endblock %}
