{% extends 'store/base.html' %}
{% load static %}
{% block title %}Création de compte{% endblock %}

{% block header_title %}Création de compte{% endblock %}
{% block header_content %}
    <div class="col-sm-6 offset-sm-3 align-center text-left text-white ">
        <form action="{% url 'accounts:register' %}" method="POST">
            {% csrf_token %}
            {{ register_form.as_p }}
            <br>
            <input type="submit" value="Créer un compte"/><br><br>
            <span>Je me <a href= "{% url 'accounts:login' %}">connecte</a> à mon compte existant !</span>
        </form>
    </div>
{% endblock %}
