:root{
    --obergine: #1d1221;
    --fondveau: #9f5b58;
    --courgette: #3a6b10;
    --courgetteclair: #9a9f3e;
    --tomate: #bd3024;
    --petitbeurre: #e68b19;
    --petitbeurrefonce: #9d3f0e;
}

body{
    background-color: #9dacb4;
}

a {
  color: var(--courgetteclair);
  text-decoration: none;
  background-color: transparent;
}

h1.text-uppercase{
    color: var(--petitbeurre);
}

.text-obergine{
    color: var(--obergine);
}

.text-fond-veau{
    color: var(--fondveau);
}

.text-courgette {
    color: var(--courgette);
}

.text-courgette-clair {
    color: var(--courgetteclair);
}

.text-tomate {
    color: var(--tomate);
}

.text-petit-beurre {
    color: var(--petitbeurre);
}

.text-petit-beurre-fonce{
    color: var(--petitbeurrefonce);
}

.text-shadow{
    text-shadow: 5px 5px 5px var(--obergine);
}

#logo{
    height: 65px;
    margin-right: 2em;
}

.form-control{
    color: var(--obergine);
}

.zoom a{
  transition: transform .2s; /* Animation */
}

.zoom a:hover{
  transform: scale(1.5); /* (200% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#mainNav{
    background-color: transparent;
}

#mainNav li{
    padding-top: 15px;
    height: 60px;
    width: 100px;
}

#mainNav.navbar-scrolled .btn a{
    color: var(--courgetteclair);
}

#mainNav .btn p{
    font-size: 0.7rem;
}

#mainNav .btn a{
    color: #fff;
}

#mainNav .btn a:hover{
    color: var(--tomate);
}

#mainNav .btn-dark{
    background-color: #9da5b3;
    box-shadow: 2px 2px 0px  black;
}

#mainNav .btn-dark:hover{
    background-color: #6c727c;
}

#mainNav.navbar-scrolled{
    background-color: var(--obergine);
}

#mainNav .navbar-brand{
    color: #fff ;
}

#mainNav .navbar-brand:hover {
  color: var(--tomate);
}

#mainNav.navbar-scrolled .navbar-brand {
  color: var(--courgetteclair);
}

.bg-primary{
    background-color: #9f5b58 !important;
}

/**** Photos from Colette and Remy*/
.photos img{
    margin: 0.5em;
    height: 15em;
    width: 15em;
    border-radius: 2em;
}

label{
    width: 15em;
}

.bg-dark{
    background-color: var(--obergine) !important;
}

hr.divider{
    border-color: var(--tomate);
}

p.text-muted{
    color: var(--courgette) !important;
}

.page-section {
  padding: 9rem 0;
}

.about-section {
  padding: 2rem 0;
}

/**************** Use icon carotte *******************************************/
@font-face {
  font-family: 'Carotte';
  src:  url('../fonts/Carotte.eot?sw2u88');
  src:  url('../fonts/Carotte.eot?sw2u88#iefix') format('embedded-opentype'),
    url('../fonts/Carotte.ttf?sw2u88') format('truetype'),
    url('../fonts/Carotte.woff?sw2u88') format('woff'),
    url('../fonts/Carotte.svg?sw2u88#Carotte') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Carotte' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Carotte:before {
  content: "\e900";
}


/****************************************************************************/
.help_message ul{
    font-size: 12px;
    color: var(--obergine);
    list-style:none;
    margin-left:0;
    padding-left:0;
}

.error_message ul{
    font-size: 14px;
    color: var(--obergine);
    background-color: var(--tomate);
    list-style: none;
    margin-left:0;
    padding-left:0;
}

.errorlist {
    font-size: 14px;
    color: var(--obergine);
    background-color: var(--tomate);
    list-style: none;
    margin-left:0;
    padding-left:0;
}

.input-group-append label {

}

.custom-toggler.navbar-toggler {
    border-color: rgb(255 ,255 ,255);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255 ,255 ,255 , 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#mainNav.navbar-scrolled .custom-toggler.navbar-toggler {
    border-color: rgb(154,159,62);
}

#mainNav.navbar-scrolled .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(154,159,62, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#edit-togle {
    width: 100px;
    height: 30px;
}

#edition .btn {
    color: #fff;
    background-color: var(--petitbeurre);
    border-color: var(--obergine);
    width: 100px;

}

#edition .btn-primary {
    color: #fff;
    background-color: var(--courgetteclair);
    border-color: var(--obergine);
}

#edition .btn-primary .toggle-on {
    color: var(--petitbeurrefonce);
    background-color: var(--courgetteclair);
    border-color: var(--obergine);
}

#edition .btn-default {
    color: #fff;
    background-color: var(--petitbeurre);
    border-color: var(--obergine);
    width: 20px;
}

#edition .btn-default .toggle-off {
    color: var(--courgette);
    background-color: var(--petitbeurre);
    border-color: var(--obergine);
}

#edition .btn-default .toggle-handle {
    color: #fff;
    background-color: var(--courgetteclair);
    border-color: var(--obergine);
    width: 20px;
}










